<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Spoon API</title>
</head>
<body>
    <section>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
            <div class="container-fluid">
                
                    <a class="navbar-brand" href="#">Spoon API</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
            
            </div>
          </nav>
    </section>
    <!-- d-flex align-items-center justify-content-center -->
    <section>
        <div class="container">
            <div class="h1 display-1">The Spoon API</div>
            <p class="text-muted">This API makes a call to the spoonacular API and displays different cuisines</p>
            <form action="" method="POST">
                {% csrf_token %}
                <select class="form-select" aria-label="Default select example" name="all-cuisines">
                    <option selected>Select a cuisine</option>
                    <option value="Chinese">Chinese</option>
                    <option value="African">African</option>
                    <option value="Cajun">Cajun</option>
                    <option value="British">British</option>
                    <option value="Irish">Irish</option>
                    <option value="French">French</option>
                    <option value="Korean">Korean</option>
                    <option value="Jewish">Jewish</option>
                    <option value="Italian">Italian</option>
                    <option value="Indian">Indian</option>
                    <option value="Thai">Thai</option>
                    <option value="Spanish">Spanish</option>
                    <option value="Southern">Southern</option>
                  </select>
                  <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <div class="row ">
                {% for x in results %}
                <div class="col-md-4 p-3">
                <div class="card mt-3" style="width: 18rem;">
                    <img src="{{ x.image }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        
                      <h5 class="card-title">{{ x.id }}</h5>
                      <p class="card-text">{{ x.title }}</p>
                      
                    </div>
                  </div>
                </div>
                  {% endfor %}
            </div>
            
        </div>
    </section>
    

    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>